# Project exclude paths
.idea
/target/

# Скомпилированные файлы Java
*.class
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Логи
*.log

# Файлы IDE
.idea/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.vscode/

# Файлы Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Локальные настройки Maven
.mvn/wrapper/maven-wrapper.jar

# Локальные настройки проекта
/src/main/resources/database.properties

# Специфичные для MacOS файлы
.DS_Store

# Специфичные для Windows файлы
Thumbs.db
ehthumbs.db
Desktop.ini
